streamlit==1.40.0
langchain-core==0.3.29
langchain-community==0.3.14
langchain-openai==0.2.14
langchain-text-splitters==0.3.4
langchain-huggingface==0.1.2
faiss-cpu==1.9.0
sentence-transformers==3.3.1
transformers==4.47.1
torch==2.5.1
python-dotenv==1.0.1
